@import '../../styles/index.scss';

.container {
  display: flex;
  flex-flow: column nowrap;
}

.bioContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .imgContainer {
    max-width: 160px;
    margin-bottom: 15px;
    flex: 1;

    img {
      width: 100%;
    }
  }

  p {
    flex: 2;
    font-size: 0.8em;
    line-height: 2em;
    margin: 5px 15px 0 15px;
    text-align: justify;
  }
}

@include media-query('small') {
  .bioContainer {
    p {
      font-size: 1.1em;
      line-height: 2.2em;
      max-width: 480px;
    }

    .imgContainer {
      max-width: 210px;
      margin-bottom: 15px;
    }
  }
}

@include media-query('medium') {
  .bioContainer {
    flex-direction: row;
    margin: 0 15px;

    p {
      font-size: 1.3em;
      margin-left: 35px;
      max-width: 650px;
    }
    .imgContainer {
      max-width: 250px;
      margin: 0;
    }
  }
}
@include media-query('large') {
  .bioContainer {
    max-width: 800px;
    margin: 0 auto;

    p {
      font-size: 1.3em;
      line-height: 2.5em;
      margin-left: 50px;
    }

    .imgContainer {
      max-width: 350px;
    }
  }
}
