@import '../../styles/index.scss';

@mixin infoContainer {
  .infoContainer {
    @content;

    @media (max-height: 500px) {
      margin-left: 15px;
      margin-top: 80px;
      width: 300px;

      h1 {
        font-size: 2em;
      }
      h2 {
        // width: 280px;
        margin-top: 10px;
        font-size: 1em;
        font-weight: lighter;
      }
    }
  }
}

#cover {
  background-size: cover;
  background-position: 35%;
}

.container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  height: 400px;

  .infoContainer {
    margin-left: 15px;
    margin-top: 80px;
    width: 280px;

    h1 {
      font-size: 2em;
      margin: 0;
    }
    h2 {
      font-size: 0.8em;
      font-weight: lighter;
    }
  }
}

@include media-query('small') {
  #cover {
    background-position: 60%;
  }

  .container {
    margin: 0 auto;
    height: 100vh;

    @include infoContainer {
      margin-left: 30px;
      margin-top: 150px;
      width: 400px;

      h1 {
        font-size: 2.8em;
        margin: 0;
      }
      h2 {
        margin-top: 10px;
        font-size: 1.3em;
      }
    }
  }
}

@include media-query('medium') {
  .container {
    @include infoContainer {
      width: 500px;
      margin-top: 150px;

      h1 {
        font-size: 3em;
        margin: 0;
      }
      h2 {
        font-size: 1.5em;
      }
    }
  }
}

@include media-query('large') {
  #cover {
    background-position: 50%;
  }

  .container {
    @include infoContainer {
      width: 700px;

      h1 {
        font-size: 4em;
        margin: 0;
      }
      h2 {
        font-size: 2em;
      }
    }
  }
}

@include media-query('xlarge') {
  .container {
    @include infoContainer {
      margin-left: 50px;
      margin-top: 180px;
      width: 750px;
    }
  }
}
