@import '../../../../styles/index.scss';

.container {
  text-align: center;
  border: 3px solid $light-grey-1;
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
}

@include media-query('small') {
  .container {
    font-size: 1.4em;
  }
}
