@import '../../styles/index.scss';

.galleryContainer {
  margin: 0 10px;
}

.wrapperLightbox {
  div:nth-child(4) {
    display: none;
  }
}

@include media-query('medium') {
  .galleryContainer {
    margin: 0 15px;
  }
}

@include media-query('large') {
  .galleryContainer {
    max-width: 1240px;
    margin: 0 auto;
  }
}
