@import '../../../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;

  label {
    margin-bottom: 15px;
  }

  textarea {
    background-color: $light-grey-1;
    border: 0;
    font-size: 1em;
    color: $white;
    resize: none;
    font-family: inherit;
    height: inherit;

    &:focus {
      outline: none;
    }
  }
}

@include media-query('small') {
  .container {
    label {
      font-size: 1.15em;
      margin-bottom: 20px;
    }

    textarea {
      font-size: 1.1em;
    }
  }
}

@include media-query('medium') {
  .container {
    label {
      font-size: 1.18em;
    }

    textarea {
      font-size: 1.25em;
    }
  }
}

@include media-query('large') {
  .container {
    textarea {
      font-size: 1.28em;
    }
  }
}
