@import '../../../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;

  label {
    font-size: 1em;
    margin-bottom: 5px;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 1.5px solid $light-grey-1;
    font-size: 1em;
    max-height: 24px;
    transition: all ease-in-out 0.5s;

    &:focus {
      outline: none;
    }
  }
}

.error {
  input {
    border-bottom: 1.5px solid $red;
  }
}

@include media-query('small') {
  .container {
    margin-bottom: 25px;

    label {
      font-size: 1.15em;
      margin-bottom: 7px;
    }

    input {
      font-size: 1.1em;
    }
  }
}

@include media-query('medium') {
  .container {
    label {
      font-size: 1.18em;
    }

    input {
      font-size: 1.25em;
    }
  }
}

@include media-query('xlarge') {
  .container {
    margin-bottom: 30px;

    input {
      font-size: 1.28em;
    }
  }
}

