@import '~swiper/css/swiper.css';

.container {
  min-height: 750px;
  margin: 50px 0 50px 50px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
}

.project-info {
  flex: 1;
  padding: 85px 35px;
  align-self: flex-end;
  z-index: 9;
  display: flex;
  width: 45%;
  flex-direction: column;

  .title {
    h1 {
      font-size: 5em;
      margin: 0;
    }
  }

  .description {
    color: white;
    font-size: 1.5em;
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 100%;
  width: 65%;
  position: absolute;
}

.gallery-thumbs {
  height: 33%;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 90px;
  width: 40%;
  max-height: 180px;
  z-index: 99;

  .swiper-slide {
    width: 52%;
    max-width: 280px;
    height: 100%;
    position: relative;

    &:hover {
      cursor: pointer;
    }
    &:hover::before {
      opacity: 1;
    }
    &::before {
      position: absolute;
      content: '';
      opacity: 0;
      background: rgba(0, 0, 0, 0.4);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.info-enter {
  opacity: 0;
}
.info-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.info-exit {
  display: none;
}
.info-exit-active {
  display: none;
}
