@import '../../../styles/index.scss';

.container {
  flex-basis: 1;
  background-color: $dark-grey-2;
  display: flex;
  padding: 25px 20px;
  flex-direction: column;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;

}

.textareaContainer {
  margin-bottom: 20px;
  height: 150px;
}

.buttonContainer {
  margin: 0 auto;
  width: 40%;
}

@include media-query('small') {
  .container {
    padding: 30px 35px;
    flex-basis: 60%;
    background-color: $dark-grey-2;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }

  .buttonContainer {
    margin: 0 auto;
  }

  .textareaContainer {
    margin-bottom: 25px;
    height: 190px;
  }

  .inputsContainer {
    & > div {
      flex-basis: 50%;
      box-sizing: border-box;
    }
    & > div:nth-child(even) {
      padding-left: 5px;
    }
  
    & > div:nth-child(odd) {
      padding-right: 5px;
    }
  }
}

@include media-query('small') {
  .inputsContainer {
    & > div:nth-child(even) {
      padding-left: 15px;
    }
  
    & > div:nth-child(odd) {
      padding-right: 15px;
    }
  }
}
