@import '../../../styles/index.scss';

.container {
  background-color: $black;
  display: flex;
  padding: 50px 0;
  justify-content: space-evenly;
  height: 150px;
  // min-height: 200px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 1.2em;
    // font-size: 2em;
    margin-bottom: 20px;
  }

  .row {
    // font-size: 1em;
    font-size: 0.8em;
    margin-bottom: 12px;
  }
}

@include media-query('small') {
  .column {
    .title {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  
    .row {
      font-size: 0.95em;
      margin-bottom: 12px;
    }
  }
}
