@import '../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
}

.experienceContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@include media-query('medium') {
  .experienceContainer {
    flex-direction: row;
    align-items: flex-start;
  }
}
