@import '../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.imgContainer {
  max-width: 140px;

  img {
    width: 100%;
    margin-bottom: 45px;
    cursor: pointer;
  }
}

@include media-query('small') {
  .imgContainer {
    max-width: 170px;
  }
}

@include media-query('medium') {
  .imgContainer {
    max-width: 185px;
  }
}

@include media-query('xlarge') {
  .container {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .imgContainer {
    max-width: 200px;
  }
}
