@import '../../../styles/index.scss';

.container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 60px;
  z-index: 999;
  box-sizing: border-box;
  font-weight: bold;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark-grey-2;
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  img {
    width: 40px;
    height: 30px;
    z-index: 9999;
  }
}

.itemsContainer {
  z-index: 9999;
  display: flex;

  & > div {
    margin: 0 15px;

    a {
      color: $white;
      text-decoration: none;
      font-size: 1em;

      &:hover + .underline {
        width: 100%;
        background-color: $violet;
      }
    }
  }
}

@include media-query('small') {
  .container {
    padding: 35px;
  }
}

@include media-query('medium') {
  .container {
    padding: 40px;
  }
}

@include media-query('xlarge') {
  .itemsContainer {
    & > div {
      a {
        font-size: 1.1em;
      }
    }
  }
}

@include media-query('xxlarge') {
  .itemsContainer {
    & > div {
      a {
        font-size: 1.3em;
      }
    }
  }
}

.scroll {
  &::before {
    opacity: 1 !important;
    border-bottom: 1px solid $white;
  }
}

.underline {
  width: 0px;
  height: 2px;
  margin-top: 5px;
  transition: width ease-in-out 0.3s;
}
