@import './styles/index.scss';

section:not(:first-of-type):not(:last-of-type) {
  margin: 50px 0;
}

section:first-of-type {
  margin-bottom: 50px;
}

section:last-of-type {
  margin-top: 50px;
}

@include media-query('small') {
  section:first-of-type {
    margin-bottom: 75px;
  }

  section:last-of-type {
    margin-top: 75px;
  }

  section:not(:first-of-type):not(:last-of-type) {
    margin: 75px 0;
  }
}

@include media-query('medium') {
  section:first-of-type {
    margin-bottom: 100px;
  }

  section:last-of-type {
    margin-top: 100px;
  }

  section:not(:first-of-type):not(:last-of-type) {
    margin: 100px 0;
  }
}
